*.tr.c
*_preprocessed.*
/*.dsm
/*.prg
/*.st
/*.exe
/*.s19
/*.stc
/*.adf
/*.sym
/*.img
/*.rom
/*.map
/localconf.h
/makefile.dep
/needcountry.tmp
/tounix
/mkheader
/bug
/erd
/grd
/ird
/mkrom
/local.mk
/dsm.txt
/fal_dsm.txt
